*{
    margin: 0;
}

body{
    background-color: #2F2E41;
    font-family: 'JetBrains Mono', monospace;
}

.page{
    width: 1280px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 71px;
    margin-bottom: 101px;
}

nav ul{
    display: flex;
    text-align: center;
    gap: 64px;
}

nav ul li{
    display: inline;
   
}

nav ul li a{
    color: white;
    text-decoration: none;
}

section {

    width: 1092px;
    margin: 0 auto  157px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 82px;

    text-align: center;
    font-size: 14px;
    color: white;

    
}

section h1{
    font-size: 32px;
}

section  span{
    color: #00BFA6;
}

footer{
    color: white;
    width: 568px;
    text-align: center;

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;

    margin: 0 auto;
}

.line{
    border-bottom: 1px solid #00BFA6;
}

footer p{
    padding-top: 27px;
}

#cadeado{
    position: fixed;
    left: 18px;
    top: 642px;
    width: 51px;
    height: 62px;
}